* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* hele navigations linjen m. logo */
.navbar {
  width: 100%;
  padding: 5px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ded7c9;
}
/* selve logoet */
nav .logo {
  /* angiver størrelsen */
  width: 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 40px;
  margin: 0 40px;
}

/* links i navigationslinjen */
.nav-item {
  list-style: none;
  display: inline-block;
  display: flex;
  position: relative;
}
/* styling af tekst i navigationslinjen */
.nav-link {
  text-decoration: none;
  color: #a69278;
  font-size: 20px;
  font-family: "Oswald";

  transition: all 0.3s;
}

.nav-menu li a:hover {
  color: #78a99b;
}
/* ––––––––––––––––––– Dropdown menu ––––––––––––––––––– */
.dropdown_menu {
  display: none;
}
.navbar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ded7c9;
}
.navbar ul li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}

.navbar ul li:hover i.dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}

/* ––––––––––––––––––– Burger menu ––––––––––––––––––– */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #a69278;
}

/* ––––––––––––––––––– søg og kurv ––––––––––––––––––– */
.søg,
.kurv {
  aspect-ratio: 86/96;
  height: 35px;
  margin: 20px;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––– Responsiv ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  /* laver 3 streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    /* så man ikke kan se menuen før den åbnes */
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--lysbrun);
    width: 30%;
    text-align: center;
    /* Tiden det tager at åbne burgermenuen */
    transition: 0.3s;
  }
  /* laver afstand mellem links i burgermenu */
  .nav-item {
    margin: 16px 0;
  }
  /* viser menuen når den åbnes */
  .nav-menu.active {
    right: 0;
  }
}

/* –––––––––––––––––––––– Font-face –––––––––––––––––––––– */
@font-face {
  font-family: "Aclonica";
  src: url(../fonte/Aclonica-Regular.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(../fonte/Oswald.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonte/OpenSans-Regular.ttf);
}
/* –––––––––––––––––––––– Typografier –––––––––––––––––––––– */

h2 {
  font-family: "Oswald";
  color: #78a99b;
  font-size: 60px;
}
h3 {
  font-family: "Oswald";
  color: #78a99b;
  font-size: 30px;
}
p {
  font-family: "OpenSans";
  color: black;
  font-size: 16px;
  
}
/* ----- body --------- */
body {
  background-color: #ded7c9;
  max-width: 100vw;
  margin: 0;
  padding: 0px;
}

/* Header */

header {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 20px;
}

/* Logo_header */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

/* burger-menu */
.burger {
  display: none;
}
/* Nav */
.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  color: black;
  background: white;
}

.nav-bar ul li a.active {
  color: black;
  background: white;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– Footer –––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-color:#ded7c9;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 2fr;
  padding: 30px;
  overflow: hidden;
}
footer h3 {
  color: #a69278;
}
.footer_kategorier li {
  list-style: none;
}
.footer_kategorier a {
  text-decoration: none;
  color: #a69278;
  font-family: "OpenSans";
}
.SoMe-illustrationer a {
  text-decoration: none;
}
.SoMe-illustrationer img {
  max-width: 40px;
}
.footer_billede {
  grid-area: 1/ 4/ 1/ 5;
  width: 100px;
  height: auto;
  justify-self: center;
}
.footer_BHH {
  grid-area: 1/ 5/ 1/ 7;
}
.footer_BHH p {
  color: #a69278;
}
/* ––––––––––––––––––––––––––––––––––––––– Under 1320px ––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px 0 20px;
  }
}

/* ––––––––––––––––––––––––––––––––––––––– Under 1100px ––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px 0 20px;
  }
}

/* ––––––––––––––––––––––––––––––––––––––– Under 900px ––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 900px) {
  header {
    padding: 20px 30px 20px 20px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vh;
    background: green;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: black;
  }
  
}
