* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --lysbrun: #ded7c9;
  --brun: #a69278;
  --lystyrkis: #c8ddd7;
  --tyrkis: #78a99b;
}
/* –––––––––––––––––––––– Font-face –––––––––––––––––––––– */
@font-face {
  font-family: "Aclonica";
  src: url("../fonte/Aclonica-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonte/Oswald.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonte/OpenSans-Regular.ttf");
}
/* –––––––––––––––––––––– Typografier –––––––––––––––––––––– */
h2 {
  font-family: "Oswald";
  color: white;
  font-size: 40px;
}
h3 {
  font-family: "Oswald";
  color: white;
  font-size: 20px;
}
h4 {
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
p {
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
/* ––––––––––––––––––––––––––––––––––––––––––– forside navigationslinje og loop video –––––––––––––––––––––––––––––––––––––––––– */
/* navigationslinje og forside video */
.hero {
  width: 100%;
  height: 100vh;
  /* gennemsigtigt farveoverlay på video */
  /* background-image: linear-gradient(rgba(222, 215, 201, 0.3), rgba(222, 215, 201, 0.3)); */
  position: relative;
  padding: 0 5%;
  display: flex;
  /* align-items: center; */
  align-items: flex-end;
  justify-content: center;
}
/* hele navigations linjen m. logo */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lysbrun);
}
/* selve logoet */
nav .logo {
  /* angiver størrelsen */
  width: 100px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 40px;
  margin: 0 40px;
}
/* links i navigationslinjen */
.nav-item {
  list-style: none;
  display: inline-block;
  display: flex;
  position: relative;
}
/* styling af tekst i navigationslinjen */
.nav-link {
  text-decoration: none;
  color: var(--brun);
  font-size: 20px;
  font-family: "Oswald";
  transition: all 0.3s;
}
.nav-menu li a:hover {
  color: var(--tyrkis);
}
/* ––––––––––––––––––– Dropdown menu ––––––––––––––––––– */
.dropdown_menu {
  display: none;
}
.navbar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--lysbrun);
}
.navbar ul li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}
.navbar ul li:hover i.dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}
/* ––––––––––––––––––– Burger menu ––––––––––––––––––– */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--brun);
}
/* ––––––––––––––––––– søg og kurv ––––––––––––––––––– */
.søg,
.kurv {
  aspect-ratio: 86/96;
  height: 35px;
  margin: 20px;
}
/* –––––––––––––––––––––––––––––––––––––––Annimation af pil––––––––––––––––––––––––––––––––––––––– */
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
img.mover {
  transform-origin: 50% 50%;
  animation: mover 1s infinite alternate;
  position: absolute;
  top: 90%;
}
/* ––––––––––––––––––– content ––––––––––––––––––––– */
/* overskrift + link til keramik og kurser */
.content {
  text-align: center;
  margin-bottom: 10%;
}
/* styling: overskrift */
.content h1 {
  font-size: 100px;
  color: white;
  transition: 0.5s;
  font-family: "Aclonica";
}
.content h1:hover {
  -webkit-text-stroke: 0.2px white;
  color: transparent;
}
/* styling: link til keramik og kurser */
.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: "Oswald";
  background-color: var(--lysbrun);
  padding: 14px 0;
  width: 200px;
  border-radius: 50px;
  margin: 40px 40px 0 40px;
  /* laver sknapperne 3D med en skygge */
  box-shadow: 0 4px 8px 0 rgba(166, 146, 120, 0.3), 0 6px 20px 0 rgba(166, 146, 120, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* –––––––––––––––––––––––––––––––– Video i baggrunden –––––––––––––––––––––––––––––––– */
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––– Main ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––– section 1 ––––––––––––––––––––– */
#section1 {
  background-color: var(--lysbrun);
  background-image: url("../billeder/tætler.JPG");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  /* max-height: 200%; */
  background-size: cover;
  overflow: hidden;
  display: block;
  grid-column: 1/2;
}
#section1 .indhold {
  margin: 40px;
}
#grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 600px;
}
/* ––––––––––––––––––––– section 2 ––––––––––––––––––––– */
#section2 {
  background-color: var(--lysbrun);
  background-image: url("../billeder/blå.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  /* max-height: 200%; */
  background-size: cover;
  overflow: hidden;
  display: block;
  grid-column: 2/3;
}
#section2 .indhold {
  margin: 40px;
}
/* ––––––––––––––––––––– section 3 ––––––––––––––––––––– */
#section3 {
  padding: 40px;
  background-color: var(--lysbrun);
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  width: 100%;
  overflow: hidden;
}
.se_alle_nyheder {
  position: absolute;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-self: center;
}

.se_alle_nyheder h2 {
  font-size: 60px;
}
.img_ophæng {
  grid-area: 1/2/2/3;
  max-width: 100%;
  padding: 20px;
}
.img_krus {
  grid-area: 1/3/2/4;
  max-width: 100%;
  padding: 20px;
}
.text_ophæng {
  grid-area: 2/2/3/3;
  padding: 0 0 0 20px;
}
.text_krus {
  grid-area: 2/3/3/4;
  padding: 0 0 0 20px;
}
.knap_ophæng {
  grid-area: 3/2/4/3;
  display: flex;
  justify-content: center;
}
.knap_krus {
  grid-area: 3/3/4/4;
  display: flex;
  justify-content: center;
}
.alle_nyheder_btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: "Oswald";
  background-color: var(--brun);
  padding: 14px 50px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(166, 146, 120, 0.3), 0 6px 20px 0 rgba(166, 146, 120, 0.19);
}
.kurv_knap {
  text-decoration: none;
  display: inline-block;

  color: white;
  font-size: 24px;
  font-family: "Oswald";
  text-align: center;
  background-color: var(--brun);
  padding: 14px 0;
  width: 200px;
  border-radius: 50px;
  margin: 40px 40px 0 40px;
  /* laver sknapperne 3D med en skygge */
  box-shadow: 0 4px 8px 0 rgba(166, 146, 120, 0.3), 0 6px 20px 0 rgba(166, 146, 120, 0.19);
}
/* ––––––––––––––––––––– section 4 ––––––––––––––––––––– */
#section4 {
  background-color: var(--lystyrkis);
}
#section4 h2 {
  color: var(--tyrkis);
}
#section4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  height: 600px;
}
.img_processen {
  background-color: var(--lysbrun);
  background-image: url("../billeder/bundteknik.JPG");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  /* max-height: 200%; */
  background-size: cover;
  overflow: hidden;
  display: block;
  grid-column: 1/2;
  /* max-width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; */
}
#section4 .flex {
  display: flex;
  align-items: center;
}
#section4 .flex div {
  margin: 20px;
}
.tyrkis_knap {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: "Oswald";
  text-align: center;
  background-color: var(--tyrkis);
  padding: 14px 0;
  width: 200px;
  border-radius: 50px;
  margin: 40px 40px 0 40px;
  /* laver sknapperne 3D med en skygge */
  box-shadow: 0 4px 8px 0 rgba(131, 169, 157, 0.3), 0 6px 20px 0 rgba(131, 169, 157, 0.3);
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– Footer –––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-color: var(--lysbrun);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 2fr;
  padding: 30px;
  overflow: hidden;
}
footer h3 {
  color: var(--brun);
}
.footer_kategorier li {
  list-style: none;
}
.footer_kategorier a {
  text-decoration: none;
  color: var(--brun);
  font-family: "OpenSans";
}
.SoMe-illustrationer a {
  text-decoration: none;
}
.SoMe-illustrationer img {
  max-width: 40px;
}
.footer_billede {
  grid-area: 1/ 4/ 1/ 5;
  width: 100px;
  height: auto;
  justify-self: center;
}
.footer_BHH {
  grid-area: 1/ 5/ 1/ 7;
}
.footer_BHH p {
  color: var(--brun);
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––– Responsiv ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  /* laver 3 streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    /* så man ikke kan se menuen før den åbnes */
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--lysbrun);
    width: 30%;
    text-align: center;
    /* Tiden det tager at åbne burgermenuen */
    transition: 0.3s;
  }
  /* laver afstand mellem links i burgermenu */
  .nav-item {
    margin: 16px 0;
  }
  /* viser menuen når den åbnes */
  .nav-menu.active {
    right: 0;
  }
}
