* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* –––––––––––––––––––––– Font-face –––––––––––––––––––––– */
@font-face {
  font-family: "Aclonica";
  src: url(fonte/Aclonica-Regular.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(fonte/Oswald.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(fonte/OpenSans-Regular.ttf);
}
/* –––––––––––––––––––––– Typografier –––––––––––––––––––––– */
h2 {
  font-family: "Oswald";
  color: white;
  font-size: 30px;
}
h3 {
  font-family: "Oswald";
  color: white;
  font-size: 20px;
}
h4 {
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
p {
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}

/* ––––––––––––––––––––––––––––––––––––––––––– forside navigationslinje og loop video –––––––––––––––––––––––––––––––––––––––––– */
/* navigationslinje og forside video */
.hero {
  width: 100%;
  height: 100vh;
  /* gennemsigtigt farveoverlay på video */
  background-image: linear-gradient(rgba(222, 215, 201, 0.3), rgba(222, 215, 201, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  /* align-items: center; */
  align-items: flex-end;
  justify-content: center;
}
/* hele navigations linjen m. logo */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ded7c9;
}
/* selve logoet */
nav .logo {
  /* angiver størrelsen */
  width: 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* links i navigationslinjen */
.nav-item {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
/* styling af tekst i navigationslinjen */
.nav-link {
  text-decoration: none;
  color: #a69278;
  font-size: 20px;
  font-family: "Oswald";
}
/* ––––––––––––––––––– Burger menu ––––––––––––––––––– */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #a69278;
}
/* –––––––––––––––––––––––––––––––––––––––Annimation af pil––––––––––––––––––––––––––––––––––––––– */
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

img.mover {
  transform-origin: 50% 50%;
  animation: mover 1s infinite  alternate;
  position: absolute;
  top: 90%;
 
}
/* –––––––––––––– content ––––––––––––––––––––– */
/* overskrift + link til keramik og kurser */
.content {
  text-align: center;
  margin-bottom: 10%;
}
/* styling: overskrift */
.content h1 {
  font-size: 100px;
  color: white;
  transition: 0.5s;
  font-family: "Aclonica";
}
.content h1:hover {
  -webkit-text-stroke: 0.2px white;
  color: transparent;
}
/* styling: link til keramik og kurser */
.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-family: "Oswald";
  background-color: #ded7c9;
  padding: 14px 70px;
  border-radius: 50px;
  margin: 40px 40px 0 40px;
  /* laver sknapperne 3D med en skygge */
  box-shadow: 0 4px 8px 0 rgba(166, 146, 120, 0.3), 0 6px 20px 0 rgba(166, 146, 120, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* –––––––––––––––––––––––––––––––– Video i baggrunden –––––––––––––––––––––––––––––––– */
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––– Main ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#section1 {
  background-image: url("../billeder/Billeder/farveprøver.JPG");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 200%;
  background-size: cover;
  overflow: hidden;
}
#section2 {
  background-image: url("../billeder/Billeder/glaseret\ kop.JPG");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 200%;
  background-size: cover;
  overflow: hidden;

}
#section3 {
  background-color: #ded7c9;
  justify-content: center;
}
#section4 {
  background-color: #c8ddd7;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– Footer –––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-color: #ded7c9;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––– Responsiv ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  /* laver 3 streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    /* så man ikke kan se menuen før den åbnes */
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ded7c9;
    width: 30%;
    text-align: center;
    /* Tiden det tager at åbne burgermenuen */
    transition: 0.3s;
  }
  /* laver afstand mellem links i burgermenu */
  .nav-item {
    margin: 16px 0;
  }
  /* viser menuen når den åbnes */
  .nav-menu.active {
    right: 0;
  }
}
