html {
    --lysbrun: #ded7c9;
    --brun: #a69278;
    --lystyrkis: #c8ddd7;
    --tyrkis: #78a99b;
  }
.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
   }
.grid_1-2 h2 {
    color: #a69278;
}
img {
    max-width: 100%;
    display: block;
}
.tekst {
    padding: 10px;
}
/* --------------Video og tekst--------------------------- */
.grid_video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    background-color: var(--lysbrun);
    justify-content: center;
}
.grid_video h2 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    font-family: "Oswald";
    color:#a69278;
    font-size: 40px;
    justify-content: center;
}
#video_yt {
display: block;
grid-column: 1;
grid-row: 2;
background-color: white;
/* overflow: hidden; */
}