html {
    --lysbrun: #ded7c9;
    --brun: #a69278;
    --lystyrkis: #c8ddd7;
    --tyrkis: #78a99b;
  }
.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
   }
img {
    max-width: 100%;
    display: block;
}
.tekst {
    padding: 10px;
}
/* --------------Video og tekst--------------------------- */
.grid_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lysbrun);
    margin: 5px;
    padding: 10px;
}
.grid_video h2 {
    display: grid;
    grid-column: 1;
    font-family: "Oswald";
    color: black;
    font-size: 40px;
    text-align: center;
}
#video_yt {
display: block;
grid-column: 2;
overflow: hidden;
}