html {
    --lysbrun: #ded7c9;
    --brun: #a69278;
    --lystyrkis: #c8ddd7;
    --tyrkis: #78a99b;
  }
.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
   }
img {
    max-width: 100%;
    display: block;
}
.tekst {
    padding: 10px;
}
/* --------------Video og tekst--------------------------- */
.grid_video {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--lysbrun)
    
}
#video_container {
    width: 100%;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#video_file {
    object-fit: cover;
    max-width: 100%; 
    display: grid;
    grid-column: 1;
    grid-row: 1;
}
#bag_container {
    grid-column: 2;
    grid-row: 1;
}

.flex-container {
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: space-between;
align-items:baseline;
gap: 10px;
height: fit-content;
}

#volume_container {
    width: 10%;
    flex-grow: 1;
    flex-shrink: 1;
}

#play {
    background-repeat: no-repeat;
    background-image: url(../components/play.svg);
    display: inline-block;
    padding: 14px 0;
    width: 70px;

}
#stop {
    background-repeat: no-repeat;
    background-image: url(../components/stop.svg);
    display: inline-block;
    padding: 14px 0;
    width: 70px;
}