.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 20px;
    background-color: #ded7c9;
   }

img {
    max-width: 100%;
    display: block;
}
.tekst {
    padding: 20px;
    text-align: start;
}

.grid_2-5 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
    background-color: #ded7c9;
   }

.img_1 {
    max-width: 100%;
    height: 100%;
    display: block;
    grid-column: 1;
    background-image: url("../billeder/produkter/Vase_\ Den\ runde\ gule_uden_ramme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.img_2 {
    max-width: 100%;
    height: 100%;
    display: block;
    grid-column: 2;
    background-image: url("../billeder/produkter/Vase_\ Den\ runde\ gule_uden_ramme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}