* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* hele navigations linjen m. logo */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ded7c9;
}
/* selve logoet */
nav .logo {
  /* angiver størrelsen */
  width: 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 40px;
  margin: 0 40px;
}

/* links i navigationslinjen */
.nav-item {
  list-style: none;
  display: inline-block;
  display: flex;
  position: relative;
}
/* styling af tekst i navigationslinjen */
.nav-link {
  text-decoration: none;
  color: #a69278;
  font-size: 20px;
  font-family: "Oswald";

  transition: all 0.3s;
}

.nav-menu li a:hover {
  color: #78a99b;
}
/* ––––––––––––––––––– Dropdown menu ––––––––––––––––––– */
.dropdown_menu {
  display: none;
}
.navbar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ded7c9;
}
.navbar ul li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}

.navbar ul li:hover i.dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}

/* ––––––––––––––––––– Burger menu ––––––––––––––––––– */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #a69278;
}

/* ––––––––––––––––––– søg og kurv ––––––––––––––––––– */
.søg,
.kurv {
  aspect-ratio: 86/96;
  height: 35px;
  margin: 20px;
}
