/*----om.mig------*/

.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr 2fr;
}
.grid_2-2 p {
    grid-column: 1;
    
}
.img1 {
    grid-column: 2;
    max-width: 70%;
    max-height: 70%;
    grid-row: 1;
}
.grid_1 {
    display: grid;
    grid-template-columns: 3fr; 
    grid-template-rows: 3fr;
}

/*-----------------*/
